@model IEnumerable<Quote>

<h1>My Favorite Quotes</h1>
<button type="button" class="btn btn-primary mb-3" id="btnCreateQuote">Create new</button>
<partial name="_CreateQuoteModal" model="@new Quote()">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                The Quote
            </th>
            <th>
                Who Said It
            </th>
        </tr>
    </thead>
    <tbody id="tbody-quotes">
        @foreach (var item in Model)
        {
                <partial name="_QuoteRow" model="@item" />
        }
    </tbody>
</table>
@section Scripts{
    @{
            <script src="~/js/homeIndex.js"></script>
    }
    
}